<html>

<head>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">


    <link href="https://cdn.jsdelivr.net/npm/materialize-stepper@2.1.4/materialize-stepper.css" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>

    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>

    <style>
        body {
            background: #FFFFE6;
        }

        input.formcontrol {
            width: auto;
        }


        .step {
            background: #F5F5DC;

        }
    </style>

    <script>
    	var protocol = window.location.protocol;
    	var host = window.location.host;
        function step1() {
        	var url = protocol+"//"+host+"/admin/setupCourse";
            window.location = url;
        }

        function step3() {
        	var url = protocol+"//"+host+"/admin/setEvalScheme";
            window.location = url;
        }
        function step2() {
        	var url = protocol+"//"+host+"/admin/setEvaluators";
            window.location = url;
        }

        function step4() {
        	var url = protocol+"//"+host+"/admin/assign";
            window.location = url;
        }
        function drop(e) {
            var display = document.getElementById(e.name);
            display.innerHTML = ''; // reset
            getSelectedOptions(e, callback);
            var str = display.innerHTML.slice(0, -2);
            display.innerHTML = str;
        };

        function submitStudents(ele) {

            var teacher=ele.id;
            var students = document.getElementById(ele.name).value;
            var request = new XMLHttpRequest();
            var params = "students=" + students + "&teacher=" + teacher;
            request.onreadystatechange = function () {
				alert(this.status);
				alert(this.readyState);
                if (this.readyState == 4 && this.status == 200) {
                    alert(this.responseText);
                    if (this.responseText == "success!") {
                        alert("Guide assigned!")
                    }
                };
            }
            var url = protocol+"//"+host+"/admin/assignGuides";
            request.open('POST', url, true);
            request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            request.send(params)

        }


        function getSelectedOptions(sel, fn) {
            var opts = [], opt;
            var e = sel.name;
            for (var i = 0, len = sel.options.length; i < len; i++) {
                opt = sel.options[i];
                if (opt.selected) {
                    opts.push(opt);
                    if (fn) {
                        fn(e, opt);
                    }
                }
            }
            return opts;
        }

        function callback(e, opt) {
            var display = document.getElementById(e);
            display.innerHTML += opt.value + ', ';
        }


    </script>
</head>

<body>

   <%- include('adminHeader') %>

   <%- include('adminNav') %>


    <div class="container-fluid">

        <div class="left" style="width:25%;">
            <form class="col-sm-auto">
                <ul class="stepper parallel">
                    <li class="step active" onclick="step1()">
                        <div class="step-title waves-effect waves-dark">Step 1<p>Set up basic details

                            </p>
                        </div>
                    </li>
                    <li class="step active" onclick="step2()">
                        <div class="step-title waves-effect waves-dark">Step 2 <p>Specify evaluators and weightages</p>
                        </div>

                    </li>
                    <li class="step active" onclick="step3()">
                        <div class="step-title waves-effect waves-dark">Step 3<p>Specify mid sem evaluation scheme</p>
                        </div>

                    </li>
                    <li class="step active" onclick="step4()">
                        <div class="step-title waves-effect waves-dark">Step 4<p>Specify end sem evaluation scheme</p>
                        </div>

                    </li>


                </ul>
            </form>
        </div>

        <div class="right" style="width:75%" ;>

            <div class="multisteps-form__panel shadow p-4  rounded" style="background:#F8F8FF;">
                <div class="button-row mt-4"><button class="btn btn-primary" type="button" title="Next"
                        onclick="step4()">back</button>
                    <h3 class="multisteps-form__title center">Assign guide</h3>
                    <div class="multisteps-form__content">

                        <table class="table" style="overflow-y : hidden ;">
                            <tbody>
                                <% for(var i=0; i<teachers.length ; i++){ %>
                                <tr>
                                    <form>
                                        <td><%= teachers[i] %></td>
                                        <td style="padding:0;width:30%;">
                                            <select name="<%= i %>" class="flow-control" id="demoSel"
                                                style="width:100%;height:30px;" onchange="drop(this)" multiple>
                                                <% for(var j=0; j<students.length ; j++){ %>
                                                <option value="<%= students[j].roll %>"><%= students[j].name %>
                                                    (<%= students[j].roll %>)</option>
                                                <% } %>
                                            </select>

                                        </td>

                                        <td><textarea name="display" id="<%=i%>" placeholder="selected list" col="5"
                                                rows="3"></textarea></td>
                                        <td><button type="button" class="btn btn-primary" name="<%=i%>"
                                                id="<%= teachers[i] %>" onclick="submitStudents(this)">submit</button>
                                        </td>
                                    </form>
                                </tr>
                                <% } %>

                            </tbody>
                        </table>

                    </div>
                </div>
            </div>

        </div>

    </div>



</body>

<script>

    $('select').select2(
        { closeOnSelect: false }).on("change", function (e) {
            $('.select2-selection__rendered li:not(.select2-search--inline)').hide();
        }
        );

</script>

</html>
