
<html>
<head>
  <title>Admin Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>



    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">




  <style>
 body{
  background: #FFFFE6;
}
  
  </style>
	<script>
       function addTeam(){
	       var url = "./addTeam";
	       window.location = url;
      }
      function midEval(team){
      	var url = "./guideMidsem/"+team;
      	window.location = url;
      }
      function endEval(team){
       	var url = "./guideEndsem/"+team;
       	window.location = url;
      }

   </script>
  
  <script>
  	$(document).ready(function(){
  		$("select option:selected").removeAttr("selected");
  		$("#swtichGuide").attr('selected','selected');
  	})
  </script>
</head>

<body>
<%- include('teacherHeader') %>

<%- include('teacherNav') %>
    
<div class="container-fluid">
<%- include("switch") %>

<div class="col-sm">
    <h1 style="text-align: center;">Major Project Teams</h1>
    <div class="table-responsive">
    <table class="table table-sm">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Member1</th>
          <th scope="col">Mid Evaluation</th>
          <th scope="col">End Evaluation</th>
          <th scope="col">Delete Team</th>
        </tr>
      </thead>
      <tbody>
        <% for (var i = 0; i <  validTeams.length; i++) { %>
        <tr>
          <td><%= validTeams[i].projectTitle %></td>
          <td>
          	<% for(let j=0; j < validTeams[i].students.length; j++){ %>
          		<span><%= validTeams[i].studentsList[j].studentName+" ("+ validTeams[i].students[j]+")" %></span><br>
          	<% } %>
          </td>
          <td><button class="btn btn-success"  id="<%= validTeams[i].teamId %>" onclick="midEval(this.id)">Mid Eval</button></td>
          <td><button  id="<%= validTeams[i].teamId %>"  class="btn btn-success" onclick="endEval(this.id)">End Eval</button></td>
        </tr>
        <% } %>
      </tbody>
    </table>
    </div>
    <button class="btn btn-success"  onclick="addTeam()">Add Team</button>
</div>
  

</body>
</html>
